#home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#home-1 {
    height: 100%;
    width: 15%;
}

#home-2 {
    height: 100%;
    width: 90%;
}

@media (max-width: 800px) {
    #home {
        flex-direction: column;
    }

    #home-1 {
        height: 10%;
        width: 100%;
        order: 2;
    }

    #home-2 {
        height: 90%;
        width: 100%;
        order: 1;
    }
}